@using ProjectManagementApplication.Models;
@model Service;

@{
    Layout = "_LayoutForm";
}

<div class="signup-container">
    <div class="signup">
        <h1 class="text-center">Add Service</h1>
        <form method="post" action="AddService">

            <div class="form-group">

                <label asp-for="Name"> Service   </label>
                <input asp-for="Name" type="text" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>

                <label asp-for="Description"> Service description </label>
                <input asp-for="Description" type="text" class="form-control">
                <span asp-validation-for="Description" class="text-danger"></span>

                <label asp-for="Charges"> Service charges </label>
                <input asp-for="Charges" type="number" class="form-control">
                <span asp-validation-for="Charges" class="text-danger"></span>

            </div>
            <div class="sub-btn">
                <button type="submit" class="btn btn-primary text-center">Add Service</button>
            </div>

        </form>
    </div>
</div>