@{
    Layout = "_LayoutLoginSignup";
}
<div>
    <h1 class="text-center">TOXA</h1>
</div>

<div>
    <h1 class="text-center">Admin Dashboard</h1>
</div>

<div class="navbar-collapse collapse d-sm-inline-flex ">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddProject">Add Project</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="DeleteProject">Remove Project</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="DeleteUser">Delete User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="DeleteUser">Display all users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="DeleteUser">Display all projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="AddService">Add Service</a>
        </li>
           
    </ul>
</div>
