@using ProjectManagementApplication.Models;
@model User;

@{
    Layout = "_LayoutLoginSignup";
}

<div class="signup-container">
    <div class="signup">
        <h1 class="text-center">Delete User</h1>
        <form method="post" action="DeleteUser">

            <div class="form-group">

                <label asp-for="UserId"> Enter User Id </label>
                <input asp-for="UserId" type="number" class="form-control">
                <span asp-validation-for="UserId" class="text-danger"></span>

            </div>
            <div class="sub-btn">
                <button type="submit" class="btn btn-primary text-center">Delete</button>
            </div>

        </form>
    </div>
</div>