<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - ProjectManagementApplication</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
</head>
<body class="d-flex flex-column min-vh-100">
    <!--Navigation bar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <div class="col-md-1">
                <img src="~/Images/Logo.png" alt="logo" class="rounded" width="70" height="70">
            </div>
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Toxa</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                   <li class="nav-item">
                        <a class="nav-link active" asp-controller="Home" asp-action="Services">
                            Services
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="User" asp-action="Login">
                            Login
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="User" asp-action="Signup">
                            Signup
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>


    <footer class="border-top text-muted mt-auto">
        <div class="container">
            &copy; 2023 - ProjectManagementApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
