@model Tuple<User, Tuple<int, int>>;

@{
    Layout = "_LayoutUserDashboard";
}

@section userinfo {
    <div class="dropdown">
        <img src="~/@Model.Item1.ImageURL" alt="profile" class="rounded-circle" width="50" height="50">
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" asp-controller="User" asp-action="Profile">Profile</a></li>
            <li><a class="dropdown-item" asp-controller="User" asp-action="Logout">Logout</a></li>
        </ul>
    </div>
}

<!-- Destaials Section -->
<div class="col-md-10">
    <h1>Welcome, @Model.Item1.UserName</h1>

    <div class="row row-cols-3 row-cols-md-3 row-cols-sm-1  mb-3 p-5">
        <div class="card text-white bg-primary p-3">
            <div class="card-header">Projects</div>
            <div class="card-body row">
                <h1 class="card-title col">@Model.Item2.Item1</h1>
                <img src="~/Images/project-logo.png" alt="projects" class="rounded-circle" width="70" height="70">
            </div>
            <div class="card-footer">
                <a asp-action="DisplayUserProjects" class="btn btn-primary">View</a>
            </div>
        </div>
        <!--  Divider -->
        <div class="col-md-1"></div>
        <!--  Divider ends -->
        <div class="card text-white bg-primary p-3">
            <div class="card-header">Services</div>
            <div class="card-body row">
                <h1 class="card-title col">@Model.Item2.Item2</h1>
                <img src="~/Images/service-logo.png" alt="project" class="rounded-circle" width="70" height="70">
            </div>
            <div class="card-footer">
                <a asp-action="DisplayUserServices" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
</div>
<!-- Details Section ends here -->