@using ProjectManagementApplication.Models;
@model User;
@{
    Layout = "_LayoutForm";
    string msg = ViewBag.msg;
    string cred_msg = ViewBag.cred_msg;

}


    @if (msg == "success")
        {
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>SUCCESS!</strong> <p>You have successfully creaded acount</p>.
        </div>
        }


<form method="post" action="login" enctype="multipart/form-data">
    <fieldset>
        <legend class="text-center">Login</legend>

        <div class="form-group">

            <label asp-for="UserEmail" class="form-label mt-2">Email</label>
            <input asp-for="UserEmail" type="email" class="form-control shadow p-2" placeholder="Enter your email">
            <span asp-validation-for="UserEmail" class="invalid-feedback"></span>

        </div>

        <div class="form-group">
            <label asp-for="Password" class="form-label mt-2">Password</label>
            <input asp-for="Password" type="password" class="form-control shadow p-2" placeholder="Enter your password">
            <span asp-validation-for="Password" class="invalid-feedback"></span>
        </div>

        <div class="form-group text-center">
            <button type="submit" class="btn btn-light mt-5">Login</button>
            <p class="mt-4">
                Not a member?
                <a asp-controller="User" asp-action="SignUp" class="text-bg-primary">Sign Up</a>
            </p>
        </div>
    </fieldset>
</form>