@{
    ViewData["Title"] = "Home Page";
}

@model List<ProjectManagementApplication.Models.Service>

<div class="p-3 mb-2 bg-info text-dark text-center">
    <h1> Toxa</h1>
    <h1> Our Services</h1>
</div>

<Partial Name="_Services" />